<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="thumbnail">
          <img src="http://placehold.it/320x150" alt="">
          <div class="caption">
            <!-- <h4 class="pull-right"><%= post.user.email %></h4> -->
            <h4><%= link_to post.title, post %></h4>
            <p><%= post.body %></p>
          </div>
          <div class="btn-group btn-group-justified">
            <%= link_to like_post_path(post), method: :put, class: "btn btn-primary btn-sm" do %>
              <span>Like </span><span class="badge"><%= post.get_likes.size %></span>
            <% end %>
            <%= link_to dislike_post_path(post), method: :put, class: "btn btn-primary btn-sm" do %>
              <span>Dislike </span><span class="badge"><%= post.get_dislikes.size %></span>
            <% end %>
          </div>
          <!--
          <div class="ratings">
            <p>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
            </p>
          </div>
          -->
        </div>
      </div>  
    <% end %>
  </div>
</div>